---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Melwy — Open AI Lab',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join',
        href: 'https://forms.gle/zeva2efiZ2oSj6SG7',
        target: '_blank',
        icon: 'tabler:users',
      },
    ]}
    image={{ src: '~/assets/images/removebggpu.png', alt: 'Open AI Lab' }}
  >
    <Fragment slot="title">
      Open AI Lab
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Melwy</span> is an online research lab dedicated to advancing open AI with open source, open science, and open applications.
    </Fragment>
  </Hero>

  <!-- Blog Section ****************** -->
  <BlogLatestPosts
    title="Latest from our Blog"
    information="Explore insights, research, and updates from the Melwy Open AI Lab."
  />
</Layout>
